footer{  
   
    width: 100%;
    height: 30px;
    background: cadetblue;  
    text-align: center;
    position:static;
    margin-bottom: 0;
    bottom:0;
    color: #FFF;
}

footer a{
    color: #FFF;
    text-decoration: none;
}
